{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Our Company</h1>
    <p>This is some info about our company! We hope you write many blogs! </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi incidunt facilis, facere doloremque esse veniam atque nesciunt autem cum, deserunt odit nobis at reprehenderit! In aperiam enim reprehenderit minima atque.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta nostrum consequatur quo, expedita velit necessitatibus deleniti dignissimos animi aliquid repudiandae voluptatem hic adipisci optio, ipsum molestias! Tempora animi odit iste?</p>
</div>
{% endblock %}

